 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: Helvetica;
     background: linear-gradient(135deg, #4e73df, #1cc88a);
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }

 /* Container Principal */
 .container {
     background: #fff;
     padding: 30px;
     border-radius: 12px;
     width: 500px;
     text-align: center;
     box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
 }


 h1 {
     margin-bottom: 20px;
 }

 /* Fase da semana */

 .week {
     margin: 10px auto;
 }

 #fase {
     font-size: 22px;
     color: #2c3e50;
     background-color: #ecf0f1;
     padding: 6px 14px;
     border-radius: 8px;
     font-weight: bold;
     display: inline-block;
     width: 200px;
     margin-top: 12px;
 }


 /* Botão de criar nova semana */
 #btnNovaSemana {
     border: none;
     width: 200px;
     margin-top: 12px;
     margin-left: 10px;
     padding: 10px 18px;
     border-radius: 8px;
     color: #fff;
     background-color: #3498db;
     font-size: 15px;
     font-weight: bold;
     cursor: pointer;
     transition: 0.3s;
     display: inline-block;
 }

 #btnNovaSemana:hover {
     background-color: #2980b9;
     transform: scale(1.05);
 }

 #btnNovaSemana:active {
     transform: scale(0.97);
 }

 /* <!-- Botão missão extra --> */
 #btnMissaoExtra{
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    background-color: #f39c12;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
 }

 #btnMissaoExtra:hover{
    background-color: #d68910;
    transform: scale(1.05);
 }

 #btnMissaoExtra:active{
    transform: scale(0.97);
 }


 /* Painel */
 .painel {
     margin-top: 20px;
     margin-bottom: 20px;
     font-size: 18px;
     display: flex;
     flex-flow: row wrap;
     justify-content: space-evenly;
 }

 /* Estilização para os dois botões */
 .botoes button {
     padding: 10px 15px;
     margin: 22px 5px;
     border: none;
     border-radius: 6px;
     cursor: pointer;
     font-size: 16px;
     font-weight: bold;
 }


 /* Botão de Prazo */
 #btnPrazo {
     background-color: #1cc88a;
     color: white;
 }

 #btnPrazo:hover {
     background-color: #17a673;
     transition: 0.3s;
     transform: scale(1.05);
 }

  #btnPrazo:active{
    transform: scale(0.97);
  }


 /* Botão de Atraso */
 #btnAtraso {
     background-color: #e74a3b;
     color: white;
 }

 #btnAtraso:hover {
     background-color: #c0392b;
     transition: 0.3s; 
     transform: scale(1.05);
 }

 #btnAtraso:active{
    transform: scale(0.97);
 }


 /* Mensagem */
 .mensagem {
     margin-top: 20px;
     font-weight: bold;
 }

 /* Barra de progresso */

 .bar_progress p {
     font-size: 18px;
     background-color: #ddd;
     width: 290px;
     padding: 10px 15px;
     text-align: center;
     border-radius: 10px;
     display: block;
     margin: 10px auto;
 }

 #barra {
     width: 250px;
     height: 20px;
     margin-top: 8px;
     display: block;
     margin: 10px auto;
     text-align: center;
 }

/* tela de login */
.login-container{
    text-align: center;
    margin-top: 60px;
}

.login-container input{
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}